{% extends "base.html.twig" %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/episode_read.css') }}" />

{% endblock %}

{% block title %}{{ country.title ~ ' - Episode ' ~ episode.number }}{% endblock %}

{% block body %}
	{{ parent() }}

	<div class="col-lg-12 m-0 p-0">
		<img src="{{ asset('uploads/' ~ country.folder ~ '/' ~ episode.dateFrom|date("Y_m_d") ~ '/' ~ episode.mainPhoto ~ '') }}" class="photo-country img-responsive" alt="{{ episode.mainPhoto }}"/>
		<div class="caption text-center p-3">
            <h1 class="caption-middle text-nowrap">{{ country.title }} - Episode {{ episode.number }}</h1>
            <h2 class="caption-strong text-nowrap">{{ episode.title }}</h2>
            <h3 class="caption-light text-nowrap">Du {{ episode.dateFrom|date("d/m/Y") }} au {{ episode.dateTo|date("d/m/Y") }}</h3>
        </div>
	</div>	

	<div class="col-lg-12 pt-3 pb-4">
		<div class="col-lg-9 m-auto">
			<h1 class="col-lg-12 m-auto mb-0">LE PARCOURS</h1>
			<div class="col-lg-12 m-auto text-center">
				<iframe src="{{ episode.map }}" width="900" height="315"></iframe>
			</div>
		</div>
	</div>

	<hr class="m-0">

	<div class="col-lg-12 pt-3 pb-4 block-bleu">
		<div class="col-lg-9 m-auto">
			<h1 class="col-lg-12 m-auto mb-0">LE RESUME</h1>
			<div class="col-lg-11 m-auto">
				<p>{{ episode.shortText }}</p>
			</div>
			{% if episode.video is not null %}
				<h1 class="col-lg-12 m-auto mb-0">LE RESUME VIDEO</h1>
				<div class="col-lg-12 m-auto text-center">
					<video width="560" height="315" controls>
						<source src="{{ asset('uploads/' ~ country.folder ~ '/' ~ episode.dateFrom|date("Y_m_d") ~ '/' ~ episode.video ~ '') }}" type="video/mp4">
						Your browser does not support the video tag.
					</video>
				</div>
			{% endif %}
		</div>
	</div>

	<hr class="m-0">

	<div class="col-lg-12 pt-3 pb-4">
			<div class="col-lg-9 m-auto">
			<h1 class="">DANS LE DETAIL</h1>
			<div class="col-lg-11">
				<p>{{ episode.text|raw }}</p>
			</div>
		</div>
	</div>

		
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}